SMTP_DEBUG=0
SMTP_HOST="smtp.gmail.com"
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PORT=587
MAIL_FROM="support@hacene-ouserir.onrender.com"
MAIL_FROM_NAME="Hacene Ouserir"
MAIL_ADDRESS="support@hacene-ouserir.onrender.com"